@import "../../scss/index.scss";

.signin-signup {
  &__left {
    overflow: hidden;
    min-height: 100vh;
    background-color: $primary-light;
    display: flex;
    align-items: center;
    justify-content: center;
    
      img {
        position: absolute;
        width: 25%;
        height: auto;
        left: 37.5%;
      }
      
        div {
          h2 {
            display: flex;
            align-items: center;
            font-size: 1.5em;
            margin-bottom: 40px;
            font-weight: bold;
            max-width: 80%;
            svg {
              margin-right: 1em;
              width: 40px !important;
            }
          }
        }
  }
  &__right {
    z-index: 1;
    background-color: $primary-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 30em;

        img {
            align-self: center;
            width: 100px;
            margin-bottom: 20px;
        }
        h2 {
            font-weight: bold;
            font-size:1.5em;
            margin-bottom: 70px;
        }
        h3{
            font-weight: bold;
            font-size: 1em;
            margin-bottom: 30px;
        }
        button {
            display: block;
            width: 100%;
            border-radius: 50px;;
            font-size: 1em;
            font-weight: bold;
            padding:10px 0;
            &:first-of-type{
                margin-bottom: 20px;
            }

        }
    }
  }
}
