@import "./colors";

.btn {
  box-shadow: none !important;
}

.btn.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:hover {
    background-color: rgba(26, 145, 218, 1);
  }
}
.btn.btn-outline-primary {
  border-color: $border-primary;
  color: $primary;
  &:hover,
  &:active,
  &:focus {
    background-color: rgba(29, 61, 242, 0.1) !important;
  }
}

input.form-control,
textarea.form-control {
    margin: 0.5em;
    background-color: $background-dark-light;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid $border-grey;
    color: $font-light !important;

    &:focus {
        background-color: $background-dark-light;
        box-shadow: none;
        border-bottom: 1px solid border-grey;
    }
}